

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

/*----------------------------------------
# General
------------------------------------------*/
* {
    overflow-x: hidden;  
}   
a {
    color: #7B31A1;
}

.section-title h1 { 
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #7B31A1;
}
.section-title h1::after{
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #DC698C;
  bottom: 0;
  left: 0;
}

/*----------------------------------------
# Navigation Menu
------------------------------------------*/
header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    height: 100vh;
    color: #fff;    
    background-image:linear-gradient(rgba(217, 3, 103, 0.205), rgba(0, 0, 0, 0.753)), 
    url(./img/IMG_0934.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
header .nav-menu {
    justify-content: center;
    align-items: center;
    position: relative;
    left: 35%;    
    justify-content: center;
}
.nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;    
}

.nav-menu li{
    display: inline;
}

.nav-menu li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #7B31A1;
  font-weight: 700;
  font-size: 18px;
}


/*----------------------------------------
# Hero Section
------------------------------------------*/
#hero {
   position: relative;
   left: 29%;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

#hero a {
    text-decoration: none;
    color: #4E1F67;
    display: block;
    padding:10px;
    background: #DC698C;
    width: 100px; 
}

#hero a:hover {
    color: #fff;
    background: #D90368;
}
#hero p {
    font-size: 18px;
}

/*----------------------------------------
# About Section
------------------------------------------*/
.random-space {
    background-color: #e17e76;
    height: 290px;
}
.about-btn {
    margin-top: 50px;
    position: relative;
    left: 30%;
    top: 5%;   
}
.about-btn button {
    background-color: #9c8ade;
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 10px;
    border-radius: 2px;    
}
.about-btn button:hover {
    background-color: #ab6393;
}

#about-message {
   position: relative;
   left: 25%;
   font-size: 25px;
   color:#fed797;
   font-weight: 700;
   margin-top: 50px;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  overflow: hidden;
  line-height: normal;  
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color:#D90368;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #EE964B;;
  position: relative;
}

.resume .resume-item h4 {
  overflow: hidden;  
  line-height: normal;  
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  overflow: hidden;  
  line-height: normal;  
  font-size: 16px;
  background: rgba(223, 217, 217, 0.637);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

/*----------------------------------------
# Blog Section
------------------------------------------*/
.blog .category, .blog .card-title {
    overflow: hidden;
    line-height: normal;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.php-email-form input, .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.php-email-form input:focus, .php-email-form textarea:focus {
  border-color: #0078ff;
}

.php-email-form input {
  padding: 10px 15px;
}

.php-email-form textarea {
  padding: 12px 15px;
  margin-bottom: 0;
}

.php-email-form button[type="submit"] {
  background: #7B31A1;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.php-email-form button[type="submit"]:hover {
  background: rgb(85, 17, 119);
}

